.work_str_7_4{ background:url("work_str 7_4.png") top left no-repeat; }
.work_str_7_4_r2_c8{ width:171px; height:43px; background-position:-10px -10px; }
.work_str_7_4_r2_c6{ width:174px; height:43px; background-position:-10px -63px; }
.work_str_7_4_r2_c4{ width:163px; height:43px; background-position:-10px -116px; }
.work_str_7_4_r2_c2{ width:231px; height:43px; background-position:-10px -169px; }

