.DS_Store
*.pyc
*.log
*.swp
*.json
*.retry
.env
*~
/logs
/data
.~*
common/CACHE
bakerydemo/media/images/*
bakerydemo/settings/local.py
bakerydemodb
__pycache__
.vagrant/
/.vagrant/
/Vagrantfile.local
!.gitignore
.idea
Dockerfile
media/
__init__.py

static/wagtail*
static/admin
static/django_extensions
static/images
/local_settings.py
static/fonts
static/js

/manage.py
/legrasite_public_wagtailcore_site.sql
