{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags activeurl%}



{% block content %}
    <div id="main">
        <div class="container">
            <div class="holder-fon">

                <div class="holder-text">


                  {% block owl_menu %}
                  {% endblock %}

                  {% block owl_header %}
                  {% endblock %}


                  {% block owl_carusel %}
                  {% endblock %}

                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block head-extra %}
    {% include "blocks/owlCarusel_head_extra.html" %}
{% endblock head-extra %}