{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load navigation_tags %}

{% block body_class %} template-homepage {% endblock %}

{% block content %}
  {% get_site_root as site_root %}

{% top_menu parent=site_root calling_page=self %}


    <div id="main">
        <div class="container">
            <div class="holder-fon">
                <div class="holder-girl">{% image page.image max-500x1000%}</div>
                <div class="holder-text">
                    {{ page.body | richtext }}
                </div>
            </div>
        </div>

    </div>


{% endblock %}
