{% load wagtailcore_tags %}


<nav class="breadcrumb-container" aria-label="breadcrumb" role="navigation">

      <div class="row">

            {% if ancestors %}
              <ol class="breadcrumb">

                <li>
                  <a href="/">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    <span class="hidden" aria-hidden="false">&#127968;</span>
                  </a>
                </li>
                  {% for ancestor in ancestors|slice:"0:" %}
                    {% if forloop.first %}

                    {% elif forloop.last %}
{#                      <li class="active" aria-level="{{ancestors|length}}">#}
{#                        {{ ancestor }}#}
{#                      </li>#}
                    {% else %}
                      <li><a href="{% pageurl ancestor %}" aria-level="{% cycle 1 2 3 4 5 %}">{{ ancestor }}</a></li>
                    {% endif %}
                  {% endfor %}
              </ol>
            {% endif %}

      </div>

</nav>