{% load wagtailimages_tags %}

{#<figure>#}
{#    {% image self.image fill-600x600 %}#}
{#    <figcaption>{{ self.caption }} - {{ self.attribution }}</figcaption>#}
{#</figure>#}
{% if value.attribution == 'main' %}
{% image value.image fill-133x133-c100 as image %}
<a class="fancybox" rel="group" href="/media/{{ value.image.file }}">
    <img src="{{ image.url }}" width="{{ image.width }}"
         height="{{ image.height }}" alt="{{ block.caption }}" class="" />
</a>
<div class="desc">{{ value.caption }}<br /><a href="work.html">Подробнее</a></div>
{% endif %}
