{% load navigation_tags %}
{% load static %}
{% load wagtailcore_tags %}

{% load activeurl %}

<header id="header">
    <div class="container">
    {% get_site_root as site_root %}
        <strong class="logo"><a href="{% pageurl site_root %}">Legra</a></strong>
        <div class="holder-header">
          {% activeurl parent_tag="li" %}
            <nav id="nav">
                <ul>
                    <li {% if  'interior-design' in  ancestors_slugs %} class="active" {% endif %}>
                      {{ ancestors_slugs }}
                      <a href="{% slugurl 'works' %}"  >интерьеры</a>
                    </li>
                    <li {% if  'graphic-design'  in  ancestors_slugs %} class="active" {% endif %}>
                      <a href={% slugurl 'logotypes-tm' %}>графический дизайн</a>
                    </li>
                    <li{% if 'other-design' in  ancestors_slugs %} class="active" {% endif %}>
                      <a href={% slugurl 'other-design' %}>другое</a>
                    </li>
                </ul>
            </nav>
          {% endactiveurl %}
            <div class="holder-contact">
                <a class="home active" href="index.html">home</a>
                <a class="mail" href="contacts.html">mail</a>
            </div>
        </div>
        <div class="slider">
            <ul class="bxslider">
                <li><img src="{% static "images/work_foto1.png" %}" /></li>
                <li><img src="{% static "images/work_foto2.png" %}" /></li>
                <li><img src="{% static "images/work_foto3.png" %}" /></li>
                <li><img src="{% static "images/work_foto4.png" %}" /></li>
            </ul>
        </div>
    </div>
</header>