{#% load navigation_tags %#}
{% load static %}
{% load wagtailcore_tags %}

{% load activeurl %}

<header id="header">
    <div class="container">
        <strong class="logo"><a href="#">Legra</a></strong>
        <div class="holder-header">
          {% activeurl parent_tag="li" %}
            <nav id="nav">
                <ul>
                    <li><a href="{% slugurl 'interior-design' %}"  >интерьеры</a></li>
                    <li><a href={% slugurl 'graphic-design' %}>графический дизайн</a></li>
                    <li><a href={% slugurl 'other-design' %}>другое</a></li>
                </ul>
            </nav>
          {% endactiveurl %}
            <div class="holder-contact">
                <a class="home active" href="index.html">home</a>
                <a class="mail" href="contacts.html">mail</a>
            </div>
        </div>
        <div class="slider">
            <ul class="bxslider">
                <li><img src="{% static "images/work_foto1.png" %}" /></li>
                <li><img src="{% static "images/work_foto2.png" %}" /></li>
                <li><img src="{% static "images/work_foto3.png" %}" /></li>
                <li><img src="{% static "images/work_foto4.png" %}" /></li>
            </ul>
        </div>
    </div>
</header>